.pink {
	background-color: #DF4D57;
	width: 100%;
	height: 100px;
}

.blue1 {
	background-color: #007AB8;
	float: left;
	width: 30%;
	height: 300px;
}

.yellow {
	background-color: #D6BF00;
	float: left;
	width: 40%;
	height: 250px;
}

.green {
	background-color: #00B815;
	float: left;
	width: 40%;
	height: 50px;
}

.blue2 {
	background-color: #007AB8;
	float: right;
	width: 30%;
	height: 300px;
}

